
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
  background: radial-gradient(rgba(221, 245, 7, 0.678),rgba(165, 245, 5, 0.61),rgba(255, 255, 0, 0.596),rgba(255, 255, 0, 0.575));
}
.wrapper {
    width: 52%;
    background: transparent;
    border:1px solid rgba(255, 255, 255, 0.863);
    backdrop-filter:blur(20px);
    box-shadow: 2px 2px 30px 5px rgba(134, 133, 133, 0.644);
    color: #111111;
    border-radius: 10px;
    padding: 30px 40px;
 
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    display: inline-block;
    position: relative;
    width: 45%;
    height: 50px;
    margin: 10px 1vw;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(12, 12, 12, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #0e0d0d;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #181717;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 5px 30px 5px 30px;
}
.remember-forgot label input{
    accent-color: #0f0f0f;
    margin-right: 3px;

}
.remember-forgot a{
    color: #0e0d0d;
    text-decoration: none;
   

}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 50%;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .1);
    cursor: pointer;
    margin-left: 22%;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
   text-align: center;
    font-size: 14.5px;
    margin:20px 0 15px;
}
.register-link p a{
    color: #0e0d0d;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}