<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/governmentpage" method="post">
        <input type="text" placeholder="partyname" name="name">
        <input type="text" placeholder="logo" name="logo">
        <input type="text" placeholder="candidateage" name="age">
        <input type="text" placeholder="candidatename" name="candidate">
        <input type="text" placeholder="candidatepic" name="candidatepic">
        <input type="text" placeholder="wardnumber" name="wardnumber">
        <input type="submit" value="addkaro">
     </form>
</body>
</html>