<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/party.css">

</head>
<body>
<% if(winparty){ %>
    <div class="start">
        <img src="<%= winparty.candidatePic %>" alt="">
        <h1 style="color: antiquewhite;"><%= winparty.name %></h1>
        <div class="image"><img src="<%= winparty.logo %>" alt=""></div>        
    </div>
<% } %>
      
   
</body>
</html>